<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Retro World</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
</head>
<body>
  <header>
    <div id="titulo" onclick="window.location.href='/'">
      <img src="/images/logo.png" alt="Logo Retro Games" id="logo">
      <h1>Retro World</h1>
    </div>
    <div class="user-info">
      <span>Usuário Logado</span>
      <a href="/login">Login/Cadastro</a>
    </div>
    <nav>
      <ul id="paginas">
        <li><a href="/catalogo">Catálogo</a></li>
        <li><a href="/carrinho">Carrinho</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Bem-vindo à Loja Retro World</h1>
    <p>Jogos você encontra aqui!</p>
    <div id="produtos-destaque">
      <img src="https://s2.glbimg.com/zUjD0GQtyLIhX8m_tXDSCDKyTjs=/620x430/e.glbimg.com/og/ed/f/original/2019/11/28/gettyimages-1178114626.jpg" alt="imagem black friday">
    </div> <!-- Lista de produtos exibidos -->
  </main>

  <footer>
    <p>Endereço: Rua dos Games, 123 - CNPJ: 12.345.678/0001-99 - Telefone: (11) 98765-4321</p>
  </footer>
</body>
</html>
